.game_resume {
	position: absolute;
	border-width: 6px;
	width: 400px;
    height: 150px;
    background-color: grey;
    background-size: 100% 100%;
	text-align: center;
	vertical-align: middle;
	z-index: 2;
}

.PP {
    height: 100px;
    width:  100px;
    top: 25px;
    background-color:   pink;
    background-size:    100% 100%;
    border: 1px inset black;
    position: absolute;
}

.l_PP {
    left: 25px;
}

.r_PP {
    right: 25px;
}

.title {
    border: 5px inset black;
	background-color: grey;
	position: absolute;
	text-align: center;
	width: 400px;
	top: 70px;
}

.history {
	left: 25%;
}

.spectate {
	right: 25%;
}

.ranked {
    border-color: blue;
	border-style: double
}

.tournament {
    border-color: black;
	border-style: double;
}

.guildwar {
    border-color: green;
	border-style: double
}

.practice {
	border-color: grey;
	border-style: inset
}