#content-game_show .score {
    font-family: "joystick_monospace";
}


#content-game_show .wrapper {
    position: relative;
    border: 6px solid grey;
    margin-left: auto;
    margin-right: auto
}

#content-game_show #game {
    width: 50%;
    height: 100%;
    left:   25%;
    border: 1px solid grey;
    background-color: black;
    background-size: 100% 100%;
    background-image: url('42_revert.webp');
	visibility: hidden;
    position: absolute;
    z-index: 0;
}

#content-game_show #end_game{
    width: 50%;
    height: 100%;
    left:   25%;
	font-size: 11vh;
	color: green;
    border: 1px solid grey;
	visibility: hidden;
    position: absolute;
    z-index: 0;
	text-align: center;
	font-weight: 1000;
}

#content-game_show .player{
    width: 2%;
    height: 25%;
    top: 37.5%;
    position: absolute;
    background-color: purple;
    z-index: 3;
}

#content-game_show #left_player{
    background-color: orange;
    left: 0px;
}

#content-game_show #right_player{
    background-color: blueviolet;
    left: 98%;
}

#content-game_show #ball{
    width: 1.4%;
    height: 1.75%;
    background-color: red;
	border: 1px solid black;
    position: absolute;
    top: 49.25%;
    left: 49.4%;
    border-radius: 500px;
    z-index: 2;
}

#content-game_show .goal {
    height: 100%;
    width: 0.08%;
    background-color: red;
    left: 2%;
    position: absolute;
    z-index: 1;
}

#content-game_show .profile_pic {
    width:  20%;
	height: 50%;
	left: 2.5%;
    top: 20%;
    background-color:   pink;
    background-image:   url("42_Logo.svg");
    background-size:    100% 100%;
    border: 1px solid black;
    position: absolute;
}

#content-game_show #right_PP {
    left: 77.5%;
}

#content-game_show .ranked {
    border-color: blue;
	border-style: double
}

#content-game_show .tournament {
    border-color: black;
	border-style: double;
}

#content-game_show .guildwar {
    border-color: green;
	border-style: double
}

#content-game_show .practice {
	border-color: grey;
	border-style: inset
}