@font-face {
	font-family: "Roboto-Thin";
	src: url("/css/fonts/Roboto-Thin.ttf");
}
@font-face {
	font-family: "Roboto-Medium";
	src: url("/css/fonts/Roboto-Medium.ttf");
}
@font-face {
	font-family: "Roboto-MediumItalic";
	src: url("/css/fonts/Roboto-MediumItalic.ttf");
}
@font-face {
	font-family: "Roboto-Bold";
	src: url("/css/fonts/Roboto-Bold.ttf");
}
@font-face {
	font-family: "Roboto-BoldItalic";
	src: url("/css/fonts/Roboto-BoldItalic.ttf");
}
body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
	margin: 0px;
	font-family: 'Roboto-Thin';
}
html {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
	margin: 0px;
	background-color: #f4f2f2;
}
header {
	width: 100%;
	height: 55px;
	overflow: hidden;
	background-color: white;
	color: #231f20;
	border-bottom: solid 2px #e1e1e1;
	display: flex;
}
header #left {
	height: 100%;
	width: 25%;
	display: flex;
	overflow: hidden;
}
header #left h1 {
	margin: auto;
	text-transform: uppercase;
	font-family: "Roboto-BoldItalic";
	font-size: 125%;
}
header #right {
	height: 100%;
	width: 75%;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	position: relative;
}
header #right button {
	margin-left: 15px;
	margin-right: 15px;
	text-transform: uppercase;
	font-size: 115%;
	font-family: "Roboto-Medium";
	border: none;
	background-color: transparent;
	cursor: pointer;
	outline: none;
	transition-duration: 0.5s;
}
header #right button:hover {
	opacity: 0.7;
	transition-duration: 0.5s;
}
header #right #sign_out{
	margin-left: auto;
	right: 0px;
	position: absolute;
}
button #sign_in{
	margin-left: auto;
}
#not_signed{
	text-align: center;
}
header a {
	text-decoration: none;
	color: #231f20;
}
#content-account {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#content-account #title {
	width: 100%;
	height: 110px;
	overflow: hidden;
	display: flex;
	background-color: #ccc;
}
#content-account #title #center {
	margin: auto;
	height: 100%;
	overflow: hidden;
	display: flex;
	width: max-content;
}
#content-account #title #center #left {
	width: max-content;
	height: 100%;
	overflow: hidden;
	display: flex;
	padding-left: 15px;
	padding-right: 15px;
}
#content-account #title #center #left img{
	margin: auto;
	height: 95px;
	border-radius: 100%;
	cursor: pointer;
	transition-duration: 0.5s;
}
#content-account #title #center #left img:hover{
	transition-duration: 0.5s;
	opacity: 0.7;
}
#content-account #title #center #right {
	width: max-content;
	height: 100%;
	overflow: hidden;
	display: flex;
	padding-left: 15px;
	padding-right: 15px;
}
#content-account #title #center #right #name {
	height: min-content;
	width: max-content;
	overflow: hidden;
	margin: auto;
	text-align: center;
}
#content-account #title #center #right #name h1 {
	margin-bottom: 2px;
	font-size: 140%;
	font-family: "Roboto-MediumItalic";
	letter-spacing: 2px;
	border-bottom: solid 2px #231f20;
	padding-right: 15px;
	padding-left: 15px;
}
#content-account #title #center #right #name i {
	cursor: pointer;
	transition-duration: 0.5s;
}
#content-account #title #center #right #name i:hover {
	transition-duration: 0.5s;
	opacity: 0.7;
}
#content-account #title #center #right #name #container {
	display: flex;
	height: min-content;
	width: max-content;
}
#content-account #title #center #right #name input {
	display: none;
	border: none;
	outline: none;
	border-bottom: solid 2px #231f20;
	color: #231f20;
	text-align: center;
	background-color: transparent;
	padding-right: 8px;
	padding-left: 8px;
	font-family: "Roboto-Thin";
	font-size: 105%;
}
#content-account #title #center #right #name input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #231f20;
	opacity: 1;
}
#content-account #title #center #right #name #container i {
	display: none;
	margin-left: 5px;
}
#content-account #title #center #right h3 {
	margin: 0px;
	text-transform: uppercase;
	font-size: 115%;
	font-family: "Roboto-Thin";
	letter-spacing: 2px;
}
#content-account #corp {
	width: 100%;
	height: calc(100% - 155px);
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	padding-top: 25px;
}
#content-account #corp #element {
	height: 400px;
	width: 400px;
	border-radius: 9px;
	background-color: white;
	border: solid 1px #e1e1e1;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 25px;
	padding-top: 10px;
}
#content-account #corp #element #name {
	height: 15%;
	width: 100%;
	overflow: hidden;
	display: flex;
}
#content-account #corp #element #name h2{
	font-size: 135%;
	margin: auto;
	color: #231f20;
	font-family: "Roboto-Medium";
	border-bottom: solid 2px #231f20;
	padding-bottom: 10px;
	padding-right: 15px ;
	padding-left: 15px;
	text-transform: uppercase;
}
#content-account #corp #element #container {
	height: 85%;
	width: 100%;
	overflow: hidden;
}
#content-account #corp #element #container #line {
	width: 100%;
	height: min-content;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 25px;
	padding-right: 25px;
}
#content-account #corp #element #container #line p {
	font-family: "Roboto-Thin";
	font-size: 115%;
	color: #231f20;
}
#content-account #corp #element #container button {
	margin: auto;
	border: none;
	outline: none;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	background-color: #c51515;
	color: white;
	cursor: pointer;
	font-family: "Roboto-Medium";
	font-size: 115%;
	border-radius: 6px;
	transition-duration: 0.5s;
}
#content-account #corp #element #container button:hover{
	transition-duration: 0.5s;
	opacity: 0.7;
}
#content-account #corp #container-history {
	height: 250px;
	width: 80%;
	overflow: hidden;
	scrollbar-width: none;
	background-color: white;
	border-radius: 9px;
	border: solid 1px #e1e1e1;
	padding-top: 10px;
}
#content-account #corp #container-history #head {
	width: 100%;
	height: 60px;
	display: flex;
	overflow: hidden;
}
#content-account #corp #container-history #head h2 {
	margin: auto;
	text-transform: uppercase;
	font-family: "Roboto-Medium";
	font-size: 120%;
	border-bottom: solid 2px #231f20;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
}
#content-account #corp #container-history #history {
	width: 100%;
	height: calc(100% - 80px);
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: none;
}
#content-account #corp #container-history #history #game {
	width: 75%;
	overflow: hidden;
	height: 55px;
	display: flex;
	border-radius: 3px;
	background-color: white;
	background-color: #ccc;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	color: #231f20;
}
#content-account #corp #container-history #history #game #icon {
	height: 100%;
	width: 8%;
	overflow: hidden;
	display: flex;
	background-color: #231f20;
}
#content-account #corp #container-history #history #game #icon i {
	margin: auto;
	color: white;
	font-size: 120%;
}
#content-account #corp #container-history #history #game #target {
	width: 30%;
	height: 100%;
	overflow: hidden;
	display: flex;
}
#content-account #corp #container-history #history #game #target p {
	margin: auto;
	font-family: "Roboto-Medium";
	font-size: 115%;
	cursor: pointer;
	transition-duration: 0.5s;
}
#content-account #corp #container-history #history #game #target p:hover {
	opacity: 0.7;
	transition-duration: 0.5s;
}
#content-account #corp #container-history #history #game #score {
	height: 100%;
	width: 32%;
	display: flex;
	overflow: hidden;
}
#content-account #corp #container-history #history #game #score p {
	margin: auto;
	font-family: "Roboto-Medium";
	font-size: 115%;
}
.text-bold {
	font-family: "Roboto-Medium";
}
.text-green {
	color: #7BE12B ;
}
.text-red {
	color: #c51515 ;
}
.text-gold {
	color: #fab50c ;
}
.display-flex {
	display: flex;
}
#content-guild {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: baseline;
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding-top: 25px;
}
#content-guilds #element {
	width: 100%;
	padding-top: 25px;
	height: max-content;
	overflow: hidden;
	display: flex;
	margin: auto;
}
#content-guilds #element #center{
	margin: auto;
	height: 100%;
	overflow: hidden;
	display: flex;
	width: max-content;

}
#content-guilds #element #left {
	width: max-content;
	height: 100%;
	overflow: hidden;
	display: flex;
	padding-left: 45px;
	padding-right: 45px;
}
#content-guilds #element button{
	margin: auto;
	border: none;
	outline: none;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	font-family: "Roboto-Medium";
	font-size: 110%;
	border-radius: 6px;
	transition-duration: 0.5s;
	background-color: #6e6b6b;
}
#content-guilds #element button:hover {
	opacity: 0.7;
	transition-duration: 0.5s;
}
#content-guilds #element .green_button{
	display: block;
	background-color: #7BE12E;
}
#content-guilds #element #right {
	width: max-content;
	height: 100%;
	overflow: hidden;
	display: flex;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}
#content-guilds #element #right input{
	border: none;
	outline: none;
	border-bottom: solid 1px #231f20;
	color: #231f20;
	text-align: center;
	background-color: transparent;
	padding-right: 2px;
	padding-left: 2px;
	font-family: "Roboto-Thin";
	font-size: 110%;
}
#content-new_guild .element {
	width: 100%;
	padding-top: 40px;
	height: max-content;
	overflow: hidden;
	display: flex;
	margin: auto;
}
#content-new_guild .element .center{
	margin: auto;
	height: 100%;
	overflow: hidden;
	display: flex;
	width: max-content;

}
#content-new_guild .element .center #guild_name{
	border: none;
	outline: none;
	border-bottom: solid 1px #231f20;
	color: #231f20;
	text-align: center;
	background-color: transparent;
	padding-right: 40px;
	padding-left: 40px;
	font-family: "Roboto-Thin";
	font-size: 150%;
}
#content-new_guild .element .center label{
	border: none;
	color: #231f20;
	text-align: center;
	background-color: transparent;
	padding-right: 20px;
	padding-left: 20px;
	font-family: "Roboto-Thin";
	font-size: 150%;
}
#content-new_guild .element .center #guild_maxmember{
	border: none;
	color: #231f20;
	text-align: center;
	background-color: transparent;
	padding-right: 20px;
	padding-left: 20px;
	font-family: "Roboto-Thin";
	font-size: 150%;
	outline: none;
}
#content-new_guild .element .center button{
	margin: auto;
	border: none;
	outline: none;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: white;
	background-color: #7BE12E;
	cursor: pointer;
	font-family: "Roboto-Medium";
	font-size: 110%;
	border-radius: 6px;
	transition-duration: 0.5s;
}
#content-new_guild .element .center #guild_description{
	color: #231f20;
	background-color: transparent;
	font-family: "Roboto-Thin";
	font-size: 80%;
	resize: none;
}
#content-new_guild #response{
	display: none;
}
#content-guild #line{
    width: 100%;
    height: calc(100% - 155px);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-top: 50px;
}
#content-guild #line-war{
    width: 100%;
    height: calc(100% - 155px);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-top: 50px;
}
#content-guild .break {
	flex-grow: 1;
	flex-basis: 100%
}
#content-guild #element {
	height: 400px;
    width: 400px;
    border-radius: 9px;
    background-color: white;
    border: solid 1px #e1e1e1;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
#content-guild #element #title {
	width: 100%;
	height: 15%;
	overflow: hidden;
	display: flex;
}
#content-guild #element #title h2 {
	margin: auto;
	font-size: 135%;
	text-transform: uppercase;
	color: #231f20;
	font-family: "Roboto-Medium";
	border-bottom: solid 2px #231f20;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
}
#content-guild #element #corp {
	width: 100%;
	height: calc(100% - 15%);
	overflow: hidden;
	display: grid;
	justify-content: center;
	align-content: center;
}
#content-guild #element #center{
	margin: auto;
	height: 100%;
	overflow: hidden;
	display: flex;
	width: 50%;
}
#content-guild #element button{
	width: 250px;
	margin: auto;
	border: none;
	outline: none;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	font-family: "Roboto-Medium";
	font-size: 110%;
	border-radius: 6px;
	margin-top: 10px;
	margin-bottom: 10px;
	transition-duration: 0.5s;
}
#content-guild #element .green_button{
	display: block;
	background-color: #7BE12E;
}
#content-guild #element .red_button{
	display: block;
	background-color: #c51515;
}
#content-guild #element .grey_button{
	display: block;
	background-color: #6e6b6b;
}
#content-guild #element .element-line{
	height: min-content;
	word-wrap: break-word;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
	padding-right: 25px;
}
#content-guild #element .element-line form{
    margin: auto;
    border: none;
	outline: none;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    font-family: "Roboto-Medium";
    font-size: 110%;
    border-radius: 6px;
    transition-duration: 0.5s;
}
#content-guild #element .element-line #guild_id_admin{
	border: none;
	color: #231f20;
	text-align: center;
	background-color: transparent;
	padding-right: 20px;
	padding-left: 20px;
	font-family: "Roboto-Thin";
	font-size: 150%;
	outline: none;
}
#content-guild #element .element-line #exec_change_admin{
    width: 60px;
    padding-left: initial;
    padding-right: initial;
    display: none;
    margin: unset;
}
#content-guild #element .element-line #edit_guild_160{
    display: none;
}
#content-guild #big-element {
	height: 400px;
    width: 35%;
    border-radius: 9px;
    background-color: white;
    border: solid 1px #e1e1e1;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
#content-guild #big-element #title {
	width: 100%;
	height: 15%;
	overflow: hidden;
	display: flex;
}
#content-guild #big-element #title h2 {
	margin: auto;
	font-size: 135%;
	text-transform: uppercase;
	color: #231f20;
	font-family: "Roboto-Medium";
	border-bottom: solid 2px #231f20;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
}
#content-guild #big-element #corp {
	width: 100%;
	height: calc(100% - 15%);
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: none;
}
#content-guild #big-element #corp #user {
	width: max-content;
	height: 55px;
	overflow: hidden;
	display: flex;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	background-color: #ccc;
	font-family: "Roboto-Medium";
	color: #231f20;
}
#content-guild #big-element #corp #user #position {
	height: 100%;
	width: 80px;
	overflow: hidden;
	display: flex;
	background-color: #231f20;
}
#content-guild #big-element #corp #user #position p {
	margin: auto;
	color: white;
	font-size: 115%;
}
#content-guild #big-element #corp #user #username {
	width: 300px;
	height: 100%;
	overflow: hidden;
	display: flex;
}
#content-guild #big-element #corp #user #username p {
	margin: auto;
	font-size: 115%;
}
#content-guild #big-element #corp #user #action {
	height: 100%;
	width: 80px;
	overflow: hidden;
	display: flex;
}
#content-guild #big-element #corp #user #action i {
	margin: auto;
	font-size: 115%;
	cursor: pointer;
	transition-duration: 0.5s;
}
#content-guild #big-element #corp #user #action i:hover {
	opacity: 0.7;
	transition-duration: 0.5s;
}
#content-guild #big-element #center{
	margin: auto;
	height: 100%;
	overflow: hidden;
	display: flex;
	width: 50%;
}
#content-guild #big-element .element-line{
	height: min-content;
	word-wrap: break-word;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
	padding-right: 25px;
}
#content-guild #big-element .element-line #green{
	color: #7BE12E;
}
#content-guild #big-element .element-line #red{
	color: #c51515;
}
