@font-face {
	font-family: "Roboto-Thin";
	src: url("/css/fonts/Roboto-Thin.ttf");
}
@font-face {
	font-family: "Roboto-Medium";
	src: url("/css/fonts/Roboto-Medium.ttf");
}
@font-face {
	font-family: "Roboto-MediumItalic";
	src: url("/css/fonts/Roboto-MediumItalic.ttf");
}
@font-face {
	font-family: "Roboto-Bold";
	src: url("/css/fonts/Roboto-Bold.ttf");
}
@font-face {
	font-family: "Roboto-BoldItalic";
	src: url("/css/fonts/Roboto-BoldItalic.ttf");
}
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #21f367;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #21f367;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
main {
	width: 100%;
	height: calc(100% - 55px);
	overflow: hidden;
}
body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
	margin: 0px;
	font-family: 'Roboto-Thin';
}
html {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
	margin: 0px;
	background-color: #f4f2f2;
}
button:hover {
	opacity: 0.7;
	transition-duration: 0.5s;
}
header {
	width: 100%;
	height: 55px;
	overflow: hidden;
	background-color: white;
	color: #231f20;
	border-bottom: solid 2px #e1e1e1;
	display: flex;
}
header #left {
	height: 100%;
	width: 25%;
	display: flex;
	overflow: hidden;
}
header #left h1 {
	margin: auto;
	text-transform: uppercase;
	font-family: "Roboto-BoldItalic";
	font-size: 125%;
	cursor: pointer;
	transition-duration: 0.5s;
}
header #left h1:hover {
	opacity: 0.7;
	transition-duration: 0.5s;
}
header #right {
	height: 100%;
	width: 75%;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	position: relative;
}
header #right button {
	margin-left: 15px;
	margin-right: 15px;
	text-transform: uppercase;
	font-size: 115%;
	font-family: "Roboto-Medium";
	border: none;
	background-color: transparent;
	cursor: pointer;
	outline: none;
	transition-duration: 0.5s;
}
header #right button:hover {
	opacity: 0.7;
	transition-duration: 0.5s;
}
header #right #sign_out{
	margin-left: auto;
	right: 0px;
	position: absolute;
}
button #sign_in{
	margin-left: auto;
}
#not_signed{
	text-align: center;
}
header a {
	text-decoration: none;
	color: #231f20;
}
.text-bold {
	font-family: "Roboto-Medium";
}
.text-green {
	color: #7BE12B ;
}
.text-green2 {
	color: #60ba1b ;
}
.text-orange {
	color: #e1922b ;
}
.text-blue {
	color: #155cc5 ;
}
.text-red {
	color: #c51515 ;
}
.back-green {
	background-color: #7BE12B ;
}
.back-blue {
	background-color: #155cc5 ;
}
.back-red {
	background-color: #c51515 ;
}
.back-black {
	background-color: #231f20;
}
.text-gold {
	color: #fab50c ;
}
.display-flex {
	display: flex;
}
button:hover {
	opacity: 0.7;
	transition-duration: 0.5s;
}
.displayOff{
	display: none;
}
.displayOn{
	display: initial;
}
.green_button{
	display: block;
	background-color: #7BE12E;
}


/* ************ */
/* Content-user */
/* ************ */
#content-user {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#content-user #title {
	width: 100%;
	height: 110px;
	overflow: hidden;
	display: flex;
	background-color: #ccc;
}
#content-user #title #center {
	margin: auto;
	height: 100%;
	overflow: hidden;
	display: flex;
	width: max-content;
}
#content-user #title #center #full {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#content-user #title #center #full input {
	border: none;
	width: 100%;
	height: 100%;
}
#content-user #title #center #left {
	width: max-content;
	height: 100%;
	overflow: hidden;
	display: flex;
	padding-left: 15px;
	padding-right: 15px;
}
#content-user #title #center #left img{
	margin: auto;
	height: 95px;
	border-radius: 100%;
	cursor: pointer;
	transition-duration: 0.5s;
}
#content-user #title #center #left img:hover{
	transition-duration: 0.5s;
	opacity: 0.7;
}
#content-user #title #center #right {
	width: max-content;
	height: 100%;
	overflow: hidden;
	display: flex;
	padding-left: 15px;
	padding-right: 15px;
}
#content-user #title #center #right #name {
	height: min-content;
	width: max-content;
	overflow: hidden;
	margin: auto;
	text-align: center;
}
#content-user #title #center #right #name h1 {
	margin-bottom: 2px;
	font-size: 140%;
	font-family: "Roboto-MediumItalic";
	letter-spacing: 2px;
	border-bottom: solid 2px #231f20;
	padding-right: 15px;
	padding-left: 15px;
}
#content-user #title #center #right #name i {
	cursor: pointer;
	transition-duration: 0.5s;
}
#content-user #title #center #right #name i:hover {
	transition-duration: 0.5s;
	opacity: 0.7;
}
#content-user #title #center #right #name #container {
	display: flex;
	height: min-content;
	width: max-content;
}
#content-user #title #center #right #name input {
	display: none;
	border: none;
	outline: none;
	border-bottom: solid 2px #231f20;
	color: #231f20;
	text-align: center;
	background-color: transparent;
	padding-right: 8px;
	padding-left: 8px;
	font-family: "Roboto-Thin";
	font-size: 105%;
}
#content-user #title #center #right #name input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #231f20;
	opacity: 1;
}
#content-user #title #center #right #name #container i {
	display: none;
	margin-left: 5px;
}
#content-user #title #center #right h3 {
	margin: 0px;
	text-transform: uppercase;
	font-size: 115%;
	font-family: "Roboto-Thin";
	letter-spacing: 2px;
}
#content-user #corp {
	width: 100%;
	height: calc(100% - 155px);
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	padding-top: 25px;
}
#content-user #corp #element {
	height: 400px;
	width: 400px;
	border-radius: 9px;
	background-color: white;
	border: solid 1px #e1e1e1;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 25px;
	padding-top: 10px;
}
#content-user #corp #element #name {
	height: 15%;
	width: 100%;
	overflow: hidden;
	display: flex;
}
#content-user #corp #element #name h2{
	font-size: 135%;
	margin: auto;
	color: #231f20;
	font-family: "Roboto-Medium";
	border-bottom: solid 2px #231f20;
	padding-bottom: 10px;
	padding-right: 15px ;
	padding-left: 15px;
	text-transform: uppercase;
}
#content-user #corp #element #container {
	height: 85%;
	width: 100%;
	overflow: hidden;
}
#content-user #corp #element #container #line {
	display: inline-flex;
	width: 100%;
	height: min-content;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 25px;
	padding-right: 25px;
}
#content-user #corp #element #container #line select{
	border: none;
    color: #231f20;
    text-align: center;
    background-color: transparent;
	padding: 25px;
    font-family: "Roboto-Thin";
    font-size: 150%;
    outline: none;
}
#content-user #corp #element #container #line p {
	font-family: "Roboto-Thin";
	font-size: 115%;
	color: #231f20;
}
#content-user #corp #element #container button {
	margin: auto;
	border: none;
	outline: none;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	font-family: "Roboto-Medium";
	font-size: 115%;
	border-radius: 6px;
	transition-duration: 0.5s;
}

#content-user #corp #element #container button:hover{
	transition-duration: 0.5s;
	opacity: 0.7;
}
#content-user #corp #container-history {
	height: 250px;
	width: 80%;
	overflow: hidden;
	scrollbar-width: none;
	background-color: white;
	border-radius: 9px;
	border: solid 1px #e1e1e1;
	padding-top: 10px;
}
#content-user #corp #container-history #head {
	width: 100%;
	height: 60px;
	display: flex;
	overflow: hidden;
}
#content-user #corp #container-history #head h2 {
	margin: auto;
	text-transform: uppercase;
	font-family: "Roboto-Medium";
	font-size: 120%;
	border-bottom: solid 2px #231f20;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
}
#content-user #corp #container-history #history {
	width: 100%;
	height: calc(100% - 80px);
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: none;
}
#content-user #corp #container-history #history #game {
	width: 75%;
	overflow: hidden;
	height: 55px;
	display: flex;
	border-radius: 3px;
	background-color: white;
	background-color: #ccc;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	color: #231f20;
}
#content-user #corp #container-history #history #game #icon {
	height: 100%;
	width: 8%;
	overflow: hidden;
	display: flex;
	background-color: #231f20;
}
#content-user #corp #container-history #history #game #icon i {
	margin: auto;
	color: white;
	font-size: 120%;
}
#content-user #corp #container-history #history #game #target {
	width: 30%;
	height: 100%;
	overflow: hidden;
	display: flex;
}
#content-user #corp #container-history #history #game #target p {
	margin: auto;
	font-family: "Roboto-Medium";
	font-size: 115%;
	cursor: pointer;
	transition-duration: 0.5s;
}
#content-user #corp #container-history #history #game #target p:hover {
	opacity: 0.7;
	transition-duration: 0.5s;
}
#content-user #corp #container-history #history #game #score {
	height: 100%;
	width: 32%;
	display: flex;
	overflow: hidden;
}
#content-user #corp #container-history #history #game #score p {
	margin: auto;
	font-family: "Roboto-Medium";
	font-size: 115%;
}



/* ************* */
/* Content-Guilds */
/* ************* */
#content-guilds {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
#content-guilds #element {
	width: 100%;
	padding-top: 25px;
	padding-bottom: 50px;
	height: max-content;
	overflow: hidden;
	display: flex;
	margin: auto;
}
#content-guilds #element #center{
	margin: auto;
	height: 100%;
	overflow: hidden;
	display: flex;
	width: max-content;

}
#content-guilds #element #center #full {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
#content-guilds #element #center #full input {
	height: 100%;
	width: 100%;
	overflow: hidden;
	border: none;
	outline: none;
	border-bottom: solid 1px #231f20;
	color: #231f20;
	text-align: center;
	background-color: transparent;
	padding-right: 2px;
	padding-left: 2px;
	font-family: "Roboto-Thin";
	font-size: 110%;
}
#content-guilds #element #left {
	width: max-content;
	height: 100%;
	overflow: hidden;
	display: flex;
	padding-left: 45px;
	padding-right: 45px;
}
#content-guilds #element button{
	margin: auto;
	border: none;
	outline: none;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	font-family: "Roboto-Medium";
	font-size: 110%;
	border-radius: 6px;
	transition-duration: 0.5s;
	background-color: #6e6b6b;
}
#content-guilds #element button:hover {
	opacity: 0.7;
	transition-duration: 0.5s;
}
#content-guilds #element .green_button{
	display: block;
	background-color: #7BE12E;
}
#content-guilds #element #right {
	width: max-content;
	height: 100%;
	overflow: hidden;
	display: flex;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}
#content-guilds #element #right input{
	border: none;
	outline: none;
	border-bottom: solid 1px #231f20;
	color: #231f20;
	text-align: center;
	background-color: transparent;
	padding-right: 2px;
	padding-left: 2px;
	font-family: "Roboto-Thin";
	font-size: 110%;
}

#content-guilds #guild-list {
	width: 100%;
	height: 50%;
	overflow-x: auto;
	overflow-y: hidden;
	scrollbar-width: none;
}
#content-guilds #guild-list #guild {
	width: max-content;
	height: 55px;
	border-radius: 3px;
	overflow: hidden;
	background-color: #ccc;
	display: flex;
	color: #231f20;
	font-family: "Roboto-Medium";
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
}
#content-guilds #guild-list #guild #position {
	height: 100%;
	width: 50px;
	overflow: hidden;
	display: flex;
	background-color: #231f20;
}
#content-guilds #guild-list #guild #position p {
	margin: auto;
	color: white;
	font-size: 125%;
	margin: auto;
}
#content-guilds #guild-list #guild #information {
	width: 260px;
	height: 100%;
	display: flex;
}
#content-guilds #guild-list #guild #information p {
	margin: auto;
	font-size: 115%
}
#content-guilds #guild-list #guild #action {
	height: 100%;
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
	overflow: hidden;
	cursor: pointer;
	background-color: #231f20;
	transition-duration: 0.5s;
}
#content-guilds #guild-list #guild #action:hover {
	opacity: 0.7;
	transition-duration: 0.5s;
}
#content-guilds #guild-list #guild #action p {
	margin: auto;
	color: white;
	font-size: 115%;
}

/* ************* */
/* Content-guild */
/* ************* */
#content-guild {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: baseline;
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding-top: 25px;
}
#content-guild #line{
	width: 100%;
    height: calc(100% - 155px);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-top: 50px;
}
#content-guild #line-war{
	width: 100%;
    height: calc(100% - 155px);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-top: 50px;
}
#content-guild .break {
	flex-grow: 1;
	flex-basis: 100%
}
#content-guild #element {
	height: 420px;
    width: 400px;
    border-radius: 9px;
    background-color: white;
    border: solid 1px #e1e1e1;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
#content-guild #element #title {
	width: 100%;
	height: 15%;
	overflow: hidden;
	display: flex;
}
#content-guild #element #title h2 {
	margin: auto;
	font-size: 135%;
	text-transform: uppercase;
	color: #231f20;
	font-family: "Roboto-Medium";
	border-bottom: solid 2px #231f20;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
}
#content-guild #element #corp {
	width: 100%;
	height: calc(100% - 15%);
	overflow: hidden;
	display: grid;
	justify-content: center;
	align-content: center;
}
#content-guild #element #center{
	margin: auto;
	height: 100%;
	overflow: hidden;
	display: flex;
	width: 50%;
}
#content-guild #element button{
	width: 250px;
	margin: auto;
	border: none;
	outline: none;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	font-family: "Roboto-Medium";
	font-size: 110%;
	border-radius: 6px;
	margin-top: 10px;
	margin-bottom: 10px;
	transition-duration: 0.5s;
}
#content-guild #element .green_button{
	display: block;
	background-color: #7BE12E;
}
#content-guild #element .red_button{
	display: block;
	background-color: #c51515;
}
#content-guild #element .grey_button{
	display: block;
	background-color: #6e6b6b;
}
#content-guild #element .element-line{
	height: min-content;
	word-wrap: break-word;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
	padding-right: 25px;
}
#content-guild #element .element-line form{
	margin: auto;
    border: none;
	outline: none;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    font-family: "Roboto-Medium";
    font-size: 110%;
    border-radius: 6px;
    transition-duration: 0.5s;
}
#content-guild #element .element-line #guild_id_admin{
	border: none;
	color: #231f20;
	text-align: center;
	background-color: transparent;
	padding-right: 20px;
	padding-left: 20px;
	font-family: "Roboto-Thin";
	font-size: 150%;
	outline: none;
	display: none;
}

#content-guild #element .element-line #exec_change_admin{
    width: 60px;
    padding-left: initial;
    padding-right: initial;
    display: none;
    margin: unset;
}
#content-guild #element .element-line #edit_guild_160{
    display: none;
}
#content-guild #big-element {
	height: 420px;
    width: min-content;
    border-radius: 9px;
    background-color: white;
    border: solid 1px #e1e1e1;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
#content-guild #big-element #title {
	width: 100%;
	height: 15%;
	overflow: hidden;
	display: flex;
}
#content-guild #big-element #title h2 {
	margin: auto;
	font-size: 135%;
	text-transform: uppercase;
	color: #231f20;
	font-family: "Roboto-Medium";
	border-bottom: solid 2px #231f20;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
}
#content-guild #big-element #corp {
	width: 100%;
	height: calc(100% - 15%);
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: none;
}
#content-guild #big-element #corp #user {
	width: max-content;
	height: 55px;
	overflow: hidden;
	display: flex;
	border-radius: 3px;
	margin-right: auto;
	margin-top: 15px;
	background-color: #ccc;
	font-family: "Roboto-Medium";
	color: #231f20;
}
#content-guild #big-element #corp #user #position {
	height: 100%;
	width: 80px;
	overflow: hidden;
	display: flex;
	background-color: #231f20;
}
#content-guild #big-element #corp #user #position p {
	margin: auto;
	color: white;
	font-size: 115%;
}
#content-guild #big-element #corp #user #username {
	width: 150px;
	height: 100%;
	overflow: hidden;
	display: flex;
}
#content-guild #big-element #corp #user #username p {
	margin: auto;
	font-size: 115%;
}
#content-guild #big-element #corp #war {
	width: max-content;
	height: 55px;
	overflow: hidden;
	display: flex;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	background-color: #ccc;
	font-family: "Roboto-Medium";
	color: #231f20;
}
#content-guild #big-element #corp #war #position {
	height: 100%;
	width: 80px;
	overflow: hidden;
	display: flex;
	background-color: #231f20;
}
#content-guild #big-element #corp #war #position p {
	margin: auto;
	color: white;
	font-size: 115%;
}
#content-guild #big-element #corp #war #target {
	width: 255px;
	height: 100%;
	overflow: hidden;
	display: flex;
}
#content-guild #big-element #corp #war #target p {
	margin: auto;
	font-size: 115%;
}
#content-guild #big-element #corp #user #action {
	height: 100%;
	width: 80px;
	overflow: hidden;
	display: flex;
}
#content-guild #big-element #corp #user #action i {
	margin: auto;
	font-size: 115%;
	cursor: pointer;
	transition-duration: 0.5s;
}
#content-guild #big-element #corp #user #action i:hover {
	opacity: 0.7;
	transition-duration: 0.5s;
}
#content-guild #big-element #center{
	margin: auto;
	height: 100%;
	overflow: hidden;
	display: flex;
	width: 50%;
}
#content-guild #big-element .element-line{
	height: min-content;
	word-wrap: break-word;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
	padding-right: 25px;
}
#content-guild #big-element .element-line #green{
	color: #7BE12E;
}
#content-guild #big-element .element-line #red{
	color: #c51515;
}


/* ***************** */
/* Content-new_guild */
/* ***************** */
#content-new_guild .element {
	width: 100%;
	padding-top: 40px;
	height: max-content;
	overflow: hidden;
	display: flex;
	margin: auto;
}
#content-new_guild .element .center{
	margin: auto;
	height: 100%;
	overflow: hidden;
	display: flex;
	width: max-content;

}
#content-new_guild .element .center #guilds_name{
	border: none;
	outline: none;
	border-bottom: solid 1px #231f20;
	color: #231f20;
	text-align: center;
	background-color: transparent;
	padding-right: 40px;
	padding-left: 40px;
	font-family: "Roboto-Thin";
	font-size: 150%;
}
#content-new_guild .element .center #guilds_anagramme{
	border: none;
	outline: none;
	border-bottom: solid 1px #231f20;
	color: #231f20;
	text-align: center;
	background-color: transparent;
	padding-right: 40px;
	padding-left: 40px;
	font-family: "Roboto-Thin";
	font-size: 150%;
}
#content-new_guild .element .center label{
	border: none;
	color: #231f20;
	text-align: center;
	background-color: transparent;
	padding-right: 20px;
	padding-left: 20px;
	font-family: "Roboto-Thin";
	font-size: 150%;
}
#content-new_guild .element .center #guilds_maxmember{
	border: none;
	color: #231f20;
	text-align: center;
	background-color: transparent;
	padding-right: 20px;
	padding-left: 20px;
	font-family: "Roboto-Thin";
	font-size: 150%;
	outline: none;
}
#content-new_guild .element .center button{
	margin: auto;
	border: none;
	outline: none;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: white;
	background-color: #7BE12E;
	cursor: pointer;
	font-family: "Roboto-Medium";
	font-size: 110%;
	border-radius: 6px;
	transition-duration: 0.5s;
}
#content-new_guild .element .center #guilds_description{
	color: #231f20;
	background-color: transparent;
	font-family: "Roboto-Thin";
	font-size: 80%;
	resize: none;
}
#content-new_guild #response{
	display: none;
}


/* ******************* */
/* Content-tournaments */
/* ******************* */
#content-tournaments {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
}
#content-tournaments #center {
	margin: auto;
	width: max-content;
	height: min-content;
	overflow: hidden;
}
#content-tournaments #center #create {
	width: 100%;
	overflow: hidden;
	height: min-content;
	display: flex;
} 
#content-tournaments #center #create button {
	height: 55px;
	border: none;
	border-radius: 9px;
	text-transform: uppercase;
	margin: auto;
	width: max-content;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #6e6b6b;
	cursor: pointer;
	color: white;
	font-size: 110%;
	font-family: "Roboto-Medium";
	transition-duration: 0.5s;
}
#content-tournaments #list {
	width: 700px;
	height: min-content;
	max-height: 80%;
	overflow: hidden;
}
#content-tournaments #list #tournament {
	height: 55px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 9px;
	display: flex;
	background-color: #ccc;
	margin-top: 20px;
	overflow: hidden;
	font-family: "Roboto-Medium";
}
#content-tournaments #list #tournament #position {
	height: 100%;
	width: 15%;
	overflow: hidden;
	display: flex;
	background-color: #231f20;
}
#content-tournaments #list #tournament #position p {
	margin: auto;
	color: white;
	font-size: 120%;
}
#content-tournaments #list #tournament #info {
	height: 100%;
	width: 33%;
	overflow: hidden;
	display: flex;
}
#content-tournaments #list #tournament #info p {
	margin: auto;
	font-size: 115%;
}

#content-tournament {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: baseline;
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding-top: 25px;
}
#content-tournament .break {
	flex-grow: 1;
	flex-basis: 100%
}
#content-tournament .big-element {
	height: 420px;
	width: 450px;
    border-radius: 9px;
    background-color: white;
    border: solid 1px #e1e1e1;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
#content-tournament .big-element#noBackground{
	background-color: transparent;
	border: none;
}
#content-tournament .big-element #btn button{
	width: 250px;
	margin: auto;
	border: none;
	outline: none;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	font-family: "Roboto-Medium";
	font-size: 110%;
	border-radius: 6px;
	margin-top: 10px;
	margin-bottom: 10px;
	transition-duration: 0.5s;
}
#content-tournament .big-element #score{
	padding-top: 50%;
	text-align: center;
}
#content-tournament .big-element #score button{
	width: 250px;
	margin: auto;
	border: none;
	outline: none;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	font-family: "Roboto-Medium";
	font-size: 110%;
	border-radius: 6px;
	margin-top: 10px;
	margin-bottom: 10px;
	transition-duration: 0.5s;
}
#content-tournament .big-element #title {
	width: 100%;
	height: 15%;
	overflow: hidden;
	display: flex;
}
#content-tournament .big-element #title h2 {
	margin: auto;
	font-size: 135%;
	text-transform: uppercase;
	color: #231f20;
	font-family: "Roboto-Medium";
	border-bottom: solid 2px #231f20;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
}
#content-tournament .big-element #corp {
	width: 100%;
	height: calc(100% - 15%);
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: none;
}
#content-tournament .big-element #corp #user {
	width: max-content;
	height: 55px;
	overflow: hidden;
	display: flex;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	background-color: #ccc;
	font-family: "Roboto-Medium";
	color: #231f20;
}
#content-tournament .big-element #corp #user #position {
	height: 100%;
	width: 80px;
	overflow: hidden;
	display: flex;
	background-color: #231f20;
}
#content-tournament .big-element #corp #user #position p {
	margin: auto;
	color: white;
	font-size: 115%;
}
#content-tournament .big-element #corp #user #username {
	width: 300px;
	height: 100%;
	overflow: hidden;
	display: flex;
}
#content-tournament .big-element #corp #user #username p {
	margin: auto;
	font-size: 115%;
}
#content-tournament .big-element #corp .war {
	height: 55px;
	overflow: hidden;
	display: flex;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	background-color: #ccc;
	font-family: "Roboto-Medium";
	color: #231f20;
}
#content-tournament .big-element #corp .war #position {
	height: 100%;
	width: 80px;
	overflow: hidden;
	display: flex;
	background-color: #231f20;
}
#content-tournament .big-element #corp .war #position p {
	margin: auto;
	color: white;
	font-size: 115%;
}
#content-tournament .big-element #corp .war #target {
	width: 255px;
	height: 100%;
	overflow: hidden;
	display: flex;
}
#content-tournament .big-element #corp .war #target p {
	margin: auto;
	font-size: 115%;
}
#content-tournament .big-element #corp .war #targetbtn {
	width: auto;
	height: 100%;
	overflow: hidden;
	display: flex;
}
#content-tournament .big-element #corp .war #targetbtn button {
width: 100px;
}
#content-tournament .big-element #corp .war #targetbtn #add {
background-color: #7BE12B;
}
#content-tournament .big-element #corp .war #targetbtn #remove {
background-color: #c51515;
}
#content-tournament .big-element #corp .war #action i {
	margin: auto;
	font-size: 115%;
	cursor: pointer;
	transition-duration: 0.5s;
}
#content-tournament .big-element #corp .war #action i:hover {
	opacity: 0.7;
	transition-duration: 0.5s;
}
#content-tournament .big-element #corp #user #action {
	height: 100%;
	width: 80px;
	overflow: hidden;
	display: flex;
}
#content-tournament .big-element #corp #user #action i {
	margin: auto;
	font-size: 115%;
	cursor: pointer;
	transition-duration: 0.5s;
}
#content-tournament .big-element #corp #user #action i:hover {
	opacity: 0.7;
	transition-duration: 0.5s;
}
#content-tournament .big-element #center{
	margin: auto;
	height: 100%;
	overflow: hidden;
	display: flex;
	width: 50%;
}
#content-tournament .big-element .element-line{
	height: min-content;
	word-wrap: break-word;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
	padding-right: 25px;
}
#content-tournament .big-element .element-line #green{
	color: #7BE12E;
}
#content-tournament .big-element .element-line #red{
	color: #c51515;
}


/* *********** */
/* Content-War */
/* *********** */
#content-war {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: baseline;
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding-top: 25px;
}
#content-war .break {
	flex-grow: 1;
	flex-basis: 100%
}
#content-war .big-element {
	height: 420px;
	width: 450px;
    border-radius: 9px;
    background-color: white;
    border: solid 1px #e1e1e1;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
#content-war .big-element#noBackground{
	background-color: transparent;
	border: none;
}
#content-war .big-element #btn button{
	width: 250px;
	margin: auto;
	border: none;
	outline: none;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	font-family: "Roboto-Medium";
	font-size: 110%;
	border-radius: 6px;
	margin-top: 10px;
	margin-bottom: 10px;
	transition-duration: 0.5s;
}
#content-war .big-element #score{
	padding-top: 50%;
	text-align: center;
}
#content-war .big-element #score button{
	width: 250px;
	margin: auto;
	border: none;
	outline: none;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	font-family: "Roboto-Medium";
	font-size: 110%;
	border-radius: 6px;
	margin-top: 10px;
	margin-bottom: 10px;
	transition-duration: 0.5s;
}
#content-war .big-element #title {
	width: 100%;
	height: 15%;
	overflow: hidden;
	display: flex;
}
#content-war .big-element #title h2 {
	margin: auto;
	font-size: 135%;
	text-transform: uppercase;
	color: #231f20;
	font-family: "Roboto-Medium";
	border-bottom: solid 2px #231f20;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
}
#content-war .big-element #corp {
	width: 100%;
	height: calc(100% - 15%);
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: none;
}
#content-war .big-element #corp #user {
	width: max-content;
	height: 55px;
	overflow: hidden;
	display: flex;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	background-color: #ccc;
	font-family: "Roboto-Medium";
	color: #231f20;
}
#content-war .big-element #corp #user #position {
	height: 100%;
	width: 80px;
	overflow: hidden;
	display: flex;
	background-color: #231f20;
}
#content-war .big-element #corp #user #position p {
	margin: auto;
	color: white;
	font-size: 115%;
}
#content-war .big-element #corp #user #username {
	width: 300px;
	height: 100%;
	overflow: hidden;
	display: flex;
}
#content-war .big-element #corp #user #username p {
	margin: auto;
	font-size: 115%;
}
#content-war .big-element #corp .war {
	height: 55px;
	overflow: hidden;
	display: flex;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	background-color: #ccc;
	font-family: "Roboto-Medium";
	color: #231f20;
}
#content-war .big-element #corp .war #position {
	height: 100%;
	width: 80px;
	overflow: hidden;
	display: flex;
	background-color: #231f20;
}
#content-war .big-element #corp .war #position p {
	margin: auto;
	color: white;
	font-size: 115%;
}
#content-war .big-element #corp .war #target {
	width: 255px;
	height: 100%;
	overflow: hidden;
	display: flex;
}
#content-war .big-element #corp .war #target p {
	margin: auto;
	font-size: 115%;
}
#content-war .big-element #corp .war #targetbtn {
	width: auto;
	height: 100%;
	overflow: hidden;
	display: flex;
}
#content-war .big-element #corp .war #targetbtn button {
width: 100px;
}
#content-war .big-element #corp .war #targetbtn #add {
background-color: #7BE12B;
}
#content-war .big-element #corp .war #targetbtn #remove {
background-color: #c51515;
}
#content-war .big-element #corp .war #action i {
	margin: auto;
	font-size: 115%;
	cursor: pointer;
	transition-duration: 0.5s;
}
#content-war .big-element #corp .war #action i:hover {
	opacity: 0.7;
	transition-duration: 0.5s;
}
#content-war .big-element #corp #user #action {
	height: 100%;
	width: 80px;
	overflow: hidden;
	display: flex;
}
#content-war .big-element #corp #user #action i {
	margin: auto;
	font-size: 115%;
	cursor: pointer;
	transition-duration: 0.5s;
}
#content-war .big-element #corp #user #action i:hover {
	opacity: 0.7;
	transition-duration: 0.5s;
}
#content-war .big-element #center{
	margin: auto;
	height: 100%;
	overflow: hidden;
	display: flex;
	width: 50%;
}
#content-war .big-element .element-line{
	height: min-content;
	word-wrap: break-word;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
	padding-right: 25px;
}
#content-war .big-element .element-line #green{
	color: #7BE12E;
}
#content-war .big-element .element-line #red{
	color: #c51515;
}

/* ************* */
/* Content-war */
/* ************* */
#content-wars {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: baseline;
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding-top: 25px;
}
#content-wars .break {
	flex-grow: 1;
	flex-basis: 100%
}
#content-wars #element {
    width: 400px;
    border-radius: 9px;
    background-color: white;
    border: solid 1px #e1e1e1;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
#content-wars #element button{
	width: 250px;
	margin: auto;
	border: none;
	outline: none;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	font-family: "Roboto-Medium";
	font-size: 110%;
	border-radius: 6px;
	margin-top: 10px;
	margin-bottom: 10px;
	transition-duration: 0.5s;
}
#content-wars #element .green_button{
	display: block;
	background-color: #7BE12E;
}
#content-wars #big-element {
	height: 400px;
    /* width: 35%; */
    border-radius: 9px;
    background-color: white;
    border: solid 1px #e1e1e1;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
#content-wars #big-element #title {
	width: 100%;
	height: 15%;
	overflow: hidden;
	display: flex;
}
#content-wars #big-element #title h2 {
	margin: auto;
	font-size: 135%;
	text-transform: uppercase;
	color: #231f20;
	font-family: "Roboto-Medium";
	border-bottom: solid 2px #231f20;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
}
#content-wars #big-element #corp {
	width: 100%;
	height: calc(100% - 15%);
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: none;
}
#content-wars #big-element #corp #war {
	width: max-content;
	height: 55px;
	overflow: hidden;
	display: flex;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	background-color: #ccc;
	font-family: "Roboto-Medium";
	color: #231f20;
}
#content-wars #big-element #corp #war #position {
	height: 100%;
	width: 80px;
	overflow: hidden;
	display: flex;
	background-color: #231f20;
}
#content-wars #big-element #corp #war #position p {
	margin: auto;
	color: white;
	font-size: 115%;
}
#content-wars #big-element #corp #war #target {
	width: 255px;
	height: 100%;
	overflow: hidden;
	display: flex;
}
#content-wars #big-element #corp #war #target p {
	margin: auto;
	font-size: 115%;
}
#content-wars #big-element #corp #user #action {
	height: 100%;
	width: 80px;
	overflow: hidden;
	display: flex;
}
#content-wars #big-element #corp #user #action i {
	margin: auto;
	font-size: 115%;
	cursor: pointer;
	transition-duration: 0.5s;
}
#content-wars #big-element #corp #user #action i:hover {
	opacity: 0.7;
	transition-duration: 0.5s;
}
#content-wars #big-element #center{
	margin: auto;
	height: 100%;
	overflow: hidden;
	display: flex;
	width: 50%;
}
#content-wars #big-element .element-line{
	height: min-content;
	word-wrap: break-word;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
	padding-right: 25px;
}
#content-wars #big-element .element-line #green{
	color: #7BE12E;
}
#content-wars #big-element .element-line #red{
	color: #c51515;
}

/* *********** */
/* Content-new_War */
/* *********** */
#content-new_war {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: baseline;
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding-top: 25px;
}
#content-new_war .break {
	flex-grow: 1;
	flex-basis: 100%;
	margin-bottom: 50px;
}
#content-new_war .big-element {
	height: 400px;
    /* width: 35%; */
    border-radius: 9px;
    background-color: white;
    border: solid 1px #e1e1e1;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
#content-new_war .big-element#guild {

    width: 400px;
}
#content-new_war .big-element#noBackground{
	background-color: transparent;
	border: none;
}
#content-new_war .big-element #score{
	padding-top: 50%;
	text-align: center;
}
#content-new_war .big-element #title {
	width: 100%;
	height: 15%;
	overflow: hidden;
	display: flex;
}
#content-new_war .big-element #title h2 {
	margin: auto;
	font-size: 135%;
	text-transform: uppercase;
	color: #231f20;
	font-family: "Roboto-Medium";
	border-bottom: solid 2px #231f20;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
}
#content-new_war .big-element #corp {
	width: 100%;
	height: calc(100% - 15%);
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: none;
}
#content-new_war .big-element #corp #user {
	width: max-content;
	height: 55px;
	overflow: hidden;
	display: flex;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	background-color: #ccc;
	font-family: "Roboto-Medium";
	color: #231f20;
}
#content-new_war .big-element #corp #user #position {
	height: 100%;
	width: 80px;
	overflow: hidden;
	display: flex;
	background-color: #231f20;
}
#content-new_war .big-element #corp #user #position p {
	margin: auto;
	color: white;
	font-size: 115%;
}
#content-new_war .big-element #corp #user #username {
	width: 300px;
	height: 100%;
	overflow: hidden;
	display: flex;
}
#content-new_war .big-element #corp #user #username p {
	margin: auto;
	font-size: 115%;
}
#content-new_war .big-element #corp .war {
	width: max-content;
	height: 55px;
	overflow: hidden;
	display: flex;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	background-color: #ccc;
	font-family: "Roboto-Medium";
	color: #231f20;
}
#content-new_war .big-element #corp .war #position {
	height: 100%;
	width: 80px;
	overflow: hidden;
	display: flex;
	background-color: #231f20;
}
#content-new_war .big-element #corp .war #position p {
	margin: auto;
	color: white;
	font-size: 115%;
}
#content-new_war .big-element #corp .war #target {
	width: 255px;
	height: 100%;
	overflow: hidden;
	display: flex;
}
#content-new_war .big-element #corp .war #target p {
	margin: auto;
	font-size: 115%;
}
#content-new_war .big-element #corp .war #targetbtn {
	width: auto;
	height: 100%;
	overflow: hidden;
	display: flex;
}
#content-new_war .big-element #corp .war #targetbtn button {
width: 100px;
}
#content-new_war .big-element #corp .war #targetbtn #attack {
background-color: #7BE12B;
}
#content-new_war .big-element #corp .war #action i {
	margin: auto;
	font-size: 115%;
	cursor: pointer;
	transition-duration: 0.5s;
}
#content-new_war .big-element #corp .war #action i:hover {
	opacity: 0.7;
	transition-duration: 0.5s;
}
#content-new_war .big-element #corp #user #action {
	height: 100%;
	width: 80px;
	overflow: hidden;
	display: flex;
}
#content-new_war .big-element #corp #user #action i {
	margin: auto;
	font-size: 115%;
	cursor: pointer;
	transition-duration: 0.5s;
}
#content-new_war .big-element #corp #user #action i:hover {
	opacity: 0.7;
	transition-duration: 0.5s;
}
#content-new_war .big-element #center{
	margin: auto;
	height: 100%;
	overflow: hidden;
	display: flex;
	width: 50%;
}
#content-new_war .big-element .element-line{
	height: min-content;
	word-wrap: break-word;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
	padding-right: 25px;
}
#content-new_war .big-element .element-line #green{
	color: #7BE12E;
}
#content-new_war .big-element .element-line #red{
	color: #c51515;
}
#content-new_war .element {
	width: 100%;
	padding-top: 40px;
	height: max-content;
	overflow: hidden;
	display: flex;
	margin: auto;
}
#content-new_war .element .center{
	margin: auto;
	height: 100%;
	overflow: hidden;
	display: flex;
	width: max-content;

}
#content-new_war .element .center input{
	border: none;
	outline: none;
	border-bottom: solid 1px #231f20;
	color: #231f20;
	text-align: center;
	background-color: transparent;
	padding-right: 40px;
	padding-left: 40px;
	font-family: "Roboto-Thin";
	font-size: 150%;
}
#content-new_war .element .center label{
	border: none;
	color: #231f20;
	text-align: center;
	background-color: transparent;
	padding-right: 20px;
	padding-left: 20px;
	font-family: "Roboto-Thin";
	font-size: 150%;
}
#content-new_war .element .center select{
	border: none;
	width: 280px;
	color: #231f20;
	text-align: center;
	background-color: transparent;
	padding-right: 20px;
	padding-left: 20px;
	font-family: "Roboto-Thin";
	font-size: 150%;
	outline: none;
}
#content-new_war .element .center button{
	margin: auto;
	border: none;
	outline: none;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: white;
	background-color: #7BE12E;
	cursor: pointer;
	font-family: "Roboto-Medium";
	font-size: 110%;
	border-radius: 6px;
	transition-duration: 0.5s;
}
#content-new_war .element .center #guild_description{
	color: #231f20;
	background-color: transparent;
	font-family: "Roboto-Thin";
	font-size: 80%;
	resize: none;
}
#content-tchat {
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}
#content-tchat #center {
	height: min-content;
	width: max-content;
	max-width: 100%;
	overflow: hidden;
}
#content-tchat #center #element {
	height: min-content;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 9px;
	width: 600px;
	margin-left: 15px;
	margin-right: 15px;
	background-color: white;
	border: solid 1px #e1e1e1;
}
#content-tchat #center #element #title {
	width: 100%;
	height: 45px;
	display: flex;
	overflow: hidden;
	margin-bottom: 25px;
}
#content-tchat #center #element #title h2 {
	font-size: 135%;
	margin: auto;
	color: #231f20;
	font-family: "Roboto-Medium";
	border-bottom: solid 2px #231f20;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
	text-transform: uppercase;
}
#content-tchat #center #element #corp {
	width: 100%;
	height: 450px;
	overflow: hidden;
	padding-top: 15px;
}
#content-tchat #center #element #corp #action {
	width: 100%;
	height: 55px;
	overflow: hidden;
	display: flex;
	margin-bottom: 15px;
}
#content-tchat #center #element #corp #action button {
	height: 55px;
	border: none;
	border-radius: 9px;
	text-transform: uppercase;
	margin: auto;
	width: max-content;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #231f20;
	cursor: pointer;
	color: white;
	font-size: 110%;
	font-family: "Roboto-Medium";
	transition-duration: 0.5s;
}
#content-tchat #center #element #corp #action button:hover {
	opacity: 0.7;
	transition-duration: 0.5s;
}
#content-tchat #center #element #corp #list {
	width: 100%;
	height: calc(100% - 95px);
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: none;
}
#content-tchat #center #element #corp #list #channel {
	width: 90%;
	height: 55px;
	overflow: hidden;
	display: flex;
	border-radius: 9px;
	background-color: #ccc;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	transition-duration: 0.5s;
}
#content-tchat #center #element #corp #list #channel:hover {
	opacity: 0.7;
	transition-duration: 0.5s;
}
#content-tchat #center #element #corp #list #channel #icon {
	height: 100%;
	width: 15%;
	overflow: hidden;
	display: flex;
	background-color: #231f20;
}
#content-tchat #center #element #corp #list #channel #icon i {
	margin: auto;
	color: white;
	font-size: 120%;
}
#content-tchat #center #element #corp #list #channel #info {
	height: 100%;
	width: 85%;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}
#content-tchat #center #element form {
	width: 100%;
	height: calc(100% - 45px);
	overflow: hidden;
	display: grid;
	grid-gap: 20px;
	padding-top: 30px;
}
#content-tchat #center #element form #align {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: min-content;
	width: 100%;
}
#content-tchat #center #element form #align button {
	margin-left: 15px;
	margin-right: 15px;
	border: none;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: white;
	font-family: "Roboto-Medium";
	font-size: 115%;
	border-radius: 6px;
	cursor: pointer;
	background-color: #231f20;
}
#content-tchat #center #element form input {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	outline: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid 2px #231f20;
	color: #231f20;
	text-align: center;
	background-color: transparent;
	font-family: "Roboto-Thin";
	font-size: 105%;
}
#content-tchat #center #element form select {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: solid 2px #231f20;
	font-family: "Roboto-Thin";
	font-size: 105%;
	text-align: center;
}
#content-tchat #center #element #messages {
	width: 100%;
	height: 475px;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: none;
	background-color: #cccccc69;
}
#content-tchat #center #element #messages #message {
	height: min-content;
	padding: 15px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	overflow: hidden;
	color: #231f20;
}
#content-tchat #center #element #messages #message #content {
	height: 150px;
	width: 80%;
	overflow: hidden;
}
#content-tchat #center #element #messages #message #content #username {
	width: 100%;
	height: 20%;
	overflow: hidden;
	display: flex;
}
#content-tchat #center #element #messages #message #content #username p {
	margin-top: auto;
	margin-bottom: auto;
	font-size: 95%;
	font-family: "Roboto-Thin";
}
#content-tchat #center #element #messages #message #content #username button {
	overflow: hidden;
	height: 100%;
	width: 100%;
	border: none;
	background-color: transparent;
	font-size: 95%;
	font-family: "Roboto-Thin";
	outline: none;
	text-align: left;
	cursor: pointer;
	transition-duration: 0.5s;
}
#content-tchat #center #element #messages #message #content #username button:hover {
	opacity: 0.5;
	transition-duration: 0.5s;
}
#content-tchat #center #element #messages #message #content #text {
	width: 100%;
	height: 80%;
	overflow: hidden;
	display: block;
}
#content-tchat #center #element #messages #message #content #text p {
	font-size: 105%;
	font-family: "Roboto-Medium";
	word-wrap: break-word;
}
#content-tchat #center #element #messages #message #action {
	height: 100%;
	width: 20%;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	padding: 0px;
}
#content-tchat #center #element #messages #message button {
	font-size: 95%;
	font-family: "Roboto-Thin";
	background-color: transparent;
	padding: 0px;
	color: #231f20;
}
#content-tchat #center #element #action {
	display: flex;
	width: 100%;
	height: min-content;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}
#content-tchat #center #element #action button {
	margin-left: 15px;
	margin-right: 15px;
	border: none;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: white;
	font-family: "Roboto-Medium";
	font-size: 115%;
	border-radius: 6px;
	cursor: pointer;
	background-color: #231f20;
	transition-duration: 0.5s;
}
#content-tchat #center #element #action input {
	width: 80%;
	height: min-content;
	outline: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid 2px #231f20;
	overflow: hidden;
	color: #231f20;
	text-align: center;
	background-color: transparent;
	font-family: "Roboto-Thin";
	font-size: 105%;
	margin-bottom: 15px;
}
#content-tchat #center #element #mode {
	width: 100%;
	height: min-content;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
#content-tchat #center #element #mode button {
	margin-left: 15px;
	margin-right: 15px;
	border: none;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: white;
	font-family: "Roboto-Medium";
	font-size: 115%;
	border-radius: 6px;
	cursor: pointer;
	background-color: #231f20;
	transition-duration: 0.5s;
}
#content-tchat #center #element #swapAdmin {
	overflow: hidden;
	width: 100%;
	height: min-content;
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}
#content-tchat #center #element #swapAdmin #input-text{
	height: 55px;
	width: 65%;
	overflow: hidden;
	display: flex;
}
#content-tchat #center #element #swapAdmin #input-text #left {
	height: 100%;
	width: 80%;
	overflow: hidden;
	display: flex;
}
#content-tchat #center #element #swapAdmin #input-text #left input {
	height: 90%;
	width: 100%;
	border: none;
	overflow: hidden;
	background-color: transparent;
	font-family: "Roboto-Medium";
	font-size: 95%;
	border-bottom: solid 2px #231f20;
	margin: auto;
	outline: none;
}
#content-tchat #center #element #swapAdmin #input-text #right {
	height: 100%;
	width: 20%;
	overflow: hidden;
	display: flex;
}
#content-tchat #center #element #swapAdmin #input-text #right button {
	margin: auto;
	height: min-content;
	width: max-content;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 15px;
	padding-left: 15px;
	border: none;
	color: white;
	cursor: pointer;
	outline: none;
	background-color: #231f20;
	text-transform: uppercase;
	overflow: hidden;
	font-family: "Roboto-Medium";
	font-size: 115%;
	border-radius: 6px;
}
#content-tchat #center #element #info {
	width: 100%;
	height: min-content;
	overflow: hidden;
	display: flex;
	padding-bottom: 25px;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}
#content-tchat #center #element #info #input-text {
	height: 55px;
	width: 65%;
	overflow: hidden;
	display: flex;
	border-bottom: solid 2px #231f20;
}
#content-tchat #center #element #info #input-text #left {
	height: 100%;
	width: 20%;
	overflow: hidden;
	display: flex;
}
#content-tchat #center #element #info #input-text #right {
	height: 100%;
	width: 80%;
	overflow: hidden;
}
#content-tchat #center #element #info #input-text #right input {
	height: 100%;
	width: 100%;
	border: none;
	overflow: hidden;
	background-color: transparent;
	font-family: "Roboto-Medium";
	font-size: 95%;
}
#content-tchat #center #element #info #input-text p {
	margin: auto;
	color: #231f20;
	font-family: "Roboto-Medium";
	font-size: 105%;
}
#content-tchat #center #element #info p {
	margin: auto;
	font-family: "Roboto-Medium";
	font-size: 115%;
}
#content-tchat #center #element #listBlocked {
	width: 100%;
	height: 475px;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: none;
	background-color: #cccccc69;
	display: grid;
	justify-content: center;
	align-content: baseline;
	padding-top: 15px;
	grid-gap: 25px;
}
#content-tchat #center #element #listBlocked #blocked {
	width: 485px;
	height: 55px;
	overflow: hidden;
	display: flex;
	border-radius: 3px;
	background-color: #ccc;
}
#content-tchat #center #element #listBlocked #blocked #username {
	height: 100%;
	width: 60%;
	overflow: hidden;
	display: flex;
}
#content-tchat #center #element #listBlocked #blocked #username p {
	margin: auto;
	font-family: "Roboto-Medium";
	font-size: 115%;
	color: #231f20;
}
#content-tchat #center #element #listBlocked #blocked button {
	height: 100%;
	width: 40%;
	border: none;
	color: white;
	cursor: pointer;
	outline: none;
	background-color: #231f20;
	text-transform: uppercase;
	overflow: hidden;
	font-family: "Roboto-Medium";
	font-size: 115%;
}
#content-tchat .createChannel {
	display: none;
}
#content-tchat .default {
	display: flex;
}
#content-tchat .channel {
	display: none;
}
#content-tchat .pvChannel {
	display: none;
}
#content-tchat .adminChannel {
	display: none;
}
#content-tchat #action .submitAdminChannel {
	display: none;
}
.sanctionChannel {
	display: none;
}
.sanctionChannel #addSanction {
	width: 100%;
	height: min-content;
	padding-top: 15px;
	padding-bottom: 15px;
	overflow: hidden;
	display: grid;
	grid-gap: 15px;
	color: #231f20;
}
.sanctionChannel #addSanction input {
	height: 100%;
    width: 60%;
    border: none;
    overflow: hidden;
    background-color: transparent;
    font-family: "Roboto-Medium";
    font-size: 95%;
	color: #231f20;
	border-bottom: solid 2px #231f20;
	outline: none;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: auto;
	margin-right: auto;
}
.sanctionChannel #addSanction select {
	outline: none;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	color: #231f20;
	font-family: "Roboto-Medium";
	background-color: transparent;
	border: none;
	border-bottom: solid 2px #231f20;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 12px;
	padding-right: 12px;
	height: min-content;
	width: 64%;
}
.sanctionChannel #addSanction button {
	margin-left: auto;
	margin-right: auto;
	border: none;
	height: min-content;
	width: 64%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: white;
	font-family: "Roboto-Medium";
	font-size: 115%;
	border-radius: 6px;
	cursor: pointer;
	background-color: #231f20;
	transition-duration: 0.5s;
}
.sanctionChannel #sanctionList {
	width: 100%;
	height: min-content;
	max-height: 300px;
	overflow-y: hidden;
	scrollbar-width: none;
	overflow-x: hidden;
	display: grid;
	grid-gap: 15px;
}
.privateMessages #element #corp #action #input-text {
	width: 80%;
	height: 45px;
	overflow: hidden;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}
.privateMessages #element #corp #action #input-text #left {
	width: 80%;
	overflow: hidden;
	height: 100%;
	display: flex;
}
.privateMessages #element #corp #action #input-text #left input {
	height: 90%;
	width: 100%;
	overflow: hidden;
	margin: auto;
}
.privateMessages #element #corp #action #input-text #right {
	height: 100%;
	width: 20%;
	overflow: hidden;
	display: flex;
}
.privateMessages #element #corp #action #input-text #right button {
	margin: auto;
	height: 90%;
	width: 80%;
	overflow: hidden;
}
.privateMessages #element #corp #list #message {
	height: 55px;
	width: 90%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	background-color: #ccc;
	border-radius: 9px;
	margin-top: 15px;
	cursor: pointer;
	transition-duration: 0.5s;
}
.privateMessages #element #corp #list #message:hover {
	opacity: 0.7;
	transition-duration: 0.5s;
}
.privateMessages #element #corp #list #message #icon {
	height: 100%;
	width: 15%;
	overflow: hidden;
	display: flex;
	background-color: #231f20;
}
.privateMessages #element #corp #list #message #icon img {
	margin: auto;
	height: 70%;
	border-radius: 100%;
}
.privateMessages #element #corp #list #message #username {
	height: 100%;
	width: 80%;
	overflow: hidden;
	display: flex;
}
.privateMessages #element #corp #list #message #username p {
    margin: auto;
    font-family: "Roboto-Medium";
    font-size: 115%;
}
.privateMessages #element #corp #list #blockMessage {
	height: 55px;
	width: 90%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	background-color:#e86464;
	border-radius: 9px;
	margin-top: 15px;
	cursor: pointer;
	transition-duration: 0.5s;
}
.privateMessages #element #corp #list #blockMessage:hover {
	opacity: 0.7;
	transition-duration: 0.5s;
}
.privateMessages #element #corp #list #blockMessage #icon {
	height: 100%;
	width: 15%;
	overflow: hidden;
	display: flex;
	background-color: #231f20;
}
.privateMessages #element #corp #list #blockMessage #icon img {
	margin: auto;
	height: 70%;
	border-radius: 100%;
}
.privateMessages #element #corp #list #blockMessage #username {
	height: 100%;
	width: 80%;
	overflow: hidden;
	display: flex;
}
.privateMessages #element #corp #list #blockMessage #username p {
    margin: auto;
    font-family: "Roboto-Medium";
    font-size: 115%;
}
.privateConversation {
	display: none;
}
#content-tchat #center #userProfil {
	width: 200px;
	height: min-content;
	overflow: hidden;
	background-color: white;
	margin-left: 15px;
    margin-right: 15px;
    background-color: white;
    border: solid 1px #e1e1e1;
	border-radius: 9px;
	display: none;
}
#content-tchat #center #userProfil #header {
	width: 100%;
	height: min-content;
	overflow: hidden;
}
#content-tchat #center #userProfil #header #icon {
	width: 100%;
	height: 165px;
	overflow: hidden;
	display: flex;
}
#content-tchat #center #userProfil #header #icon img {
	margin: auto;
	height: 80%;
	border-radius: 100%;
	overflow: hidden;
}
#content-tchat #center #userProfil #header #title {
	width: 100%;
	height: min-content;
	display: flex;
	padding-top: 15px;
	padding-bottom: 15px;
}
#content-tchat #center #userProfil #header #title h1 {
	margin: auto;
	font-size: 110%;
	font-family: "Roboto-Medium";
}
#content-tchat #center #userProfil #informations {
	width: 100%;
	height: min-content;
	overflow: hidden;
	display: grid;
}
#content-tchat #center #userProfil #informations #information {
	width: 100%;
	height: min-content;
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 10px;
}
#content-tchat #center #userProfil #informations #information p {
	font-size: 105%;
	font-family: "Roboto-Medium";
	text-align: center;
}
#content-tchat #center #userProfil #action {
	width: 100%;
	height: min-content;
	overflow: hidden;
	display: flex;
}
#content-tchat #center #userProfil #action button {
	width: 90%;
	margin: auto;
    border: none;
    outline: none;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    font-family: "Roboto-Medium";
    font-size: 110%;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
	background-color: #7BE12E;
    transition-duration: 0.5s;
}