<div id="content-tchat">
    <div id="center" class="default">
        <div id="element">
            <div id="title">
                <h2>channels</h2>
            </div>
            <div id="corp">
                <div id="action">
                    <button class="CreateaChannel">create a channel</button>
                </div>
                <div id="list">
                    <div id="channel">
                        <div id="icon">
                            <i class="fas fa-lock"></i>
                        </div>
                        <div id="info">
                            <p>Lock channel</p>
                        </div>
                    </div>
                    <div id="channel">
                        <div id="icon">
                            <i class="fas fa-unlock"></i>
                        </div>
                        <div id="info">
                            <p>Unlock channel</p>
                        </div>
                    </div>
                    <div id="channel">
                        <div id="icon">
                            <i class="fas fa-lock"></i>
                        </div>
                        <div id="info">
                            <p>Lock channel</p>
                        </div>
                    </div>
                    <div id="channel">
                        <div id="icon">
                            <i class="fas fa-unlock"></i>
                        </div>
                        <div id="info">
                            <p>Unlock channel</p>
                        </div>
                    </div>
                    <div id="channel">
                        <div id="icon">
                            <i class="fas fa-lock"></i>
                        </div>
                        <div id="info">
                            <p>Lock channel</p>
                        </div>
                    </div>
                    <div id="channel">
                        <div id="icon">
                            <i class="fas fa-unlock"></i>
                        </div>
                        <div id="info">
                            <p>Unlock channel</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="element">
            <div id="title">
                <h2>private messages</h2>
            </div>
            <div id="corp">
            </div>
        </div>
    </div>
    <div id="center" class="createChannel">
        <div id="element">
            <div id="title">
                <h2>Create channel</h2>
            </div>
        </div>
    </div>
</div>