<div id="content-tchat">
    <div id="center" class="default">
        <div id="element">
            <div id="title">
                <h2>channels</h2>
            </div>
            <div id="corp">
                <div id="action">
                    <button class="CreateaChannel">create a channel</button>
                </div>
                <div id="list">

                    <% @channel.each do |element| %>
                    <div id="channel" value="<%= element.id %>">
                        <div id="icon">
                            <% if (element.type_channel == 1) %>
                            <i class="fas fa-lock"></i>
                            <% else %>
                            <i class="fas fa-unlock"></i>
                            <% end %>
                        </div>
                        <div id="info">
                            <p><%= element.title %></p>
                        </div>
                    </div>
	            	<% end %>
                </div>
            </div>
        </div>
        <div id="element">
            <div id="title">
                <h2>private messages</h2>
            </div>
            <div id="corp">
            </div>
        </div>
    </div>
    <div id="center" class="createChannel">
        <div id="element">
            <div id="title">
                <h2>Create channel</h2>
            </div>
            <form>
                <input type="text" class="title" placeholder="Channel name..." maxlength="45">
                <select class="type">
                    <option value="">--Please choose an channel type--</option>
                    <option value="1">Private</option>
                    <option value="2">Public</option>
                </select>
                <div id="align">
                    <button type="button" class="cancelCreateChannel">Cancel</button>
                    <button type="button" class="submitCreatechannel">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>