<div id="content-tchat">
    <div id="center">
        <div id="element">
            <div id="title">
                <h2>channels</h2>
            </div>
            <div id="corp">
            </div>
        </div>
        <div id="element">
            <div id="title">
                <h2>utilisateurs</h2>
            </div>
            <div id="corp">
            </div>
        </div>
    </div>
</div>