<div id="content-tchat">
    <div id="center">
        <div id="element">
            <div id="title">
                <h2>channels</h2>
            </div>
            <div id="corp">
                <div id="action">
                    <button>create a channel</button>
                </div>
                <div id="list">
                    <div id="channel"></div>
                    <div id="channel"></div>
                </div>
            </div>
        </div>
        <div id="element">
            <div id="title">
                <h2>private messages</h2>
            </div>
            <div id="corp">
            </div>
        </div>
    </div>
</div>