<div id="content-users">
	<div id="element">
		<div id="center">
			<table>
				<thead>
					<tr>
						<td>ID</td>
						<td>Name</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
				<% @i = 0%>
					<% @Users.each do |user| %>
						<tr>
							<td><%= @i += 1 %></td>
							<td><%= user.nickname %></td>
							<td><button onClick="window.location='/#show_user/<%= user.id %>'">Voir</button></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>