<div id="content-users">
	<div id="center">
		<div id="title">
			<h1>Users list</h1>
		</div>
		<div id="list">
			<% @Users.each do |user| %>
				<div id="user">
					<div id="id">
						<p># <%= user.id %></p>
					</div>
					<div id="username">
						<p><%= user.nickname %></p>
					</div>
					<button onClick="window.location='/#show_user/<%= user.id %>'">See</button>
				</div>
			<% end %>
		</div>	
	</div>
</div>