<div id="content-account">
	<div id="title">
		<div id="center">
			<div id="left">
				<img src="https://cdn.intra.42.fr/users/medium_cbertola.jpg" alt="profil_icon">
			</div>
			<div id="right">
				<div id="name">
					<h1>cbertola</h1>
					<h3>guigu</h3>
				</div>
			</div>
		</div>
	</div>
	<div id="corp">
		<div id="element">
			<div id="name">
				<h2>statistic</h2>
			</div>
			<div id="container">
				<div id="line">
					<p><span class="text-bold"><i class="fas fa-gamepad"></i> Parties jouez :</span> 15</p>
				</div>
				<div id="line">
					<p><span class="text-bold text-green"><i class="fas fa-crown"></i> Victoires :</span> 8</p>
				</div>
				<div id="line">
					<p><span class="text-bold text-red"><i class="fas fa-times"></i> Defaites :</span> 7</p>
				</div>
				<div id="line">
					<p><span class="text-bold text-gold"><i class="fas fa-trophy"></i> Tournois gagnés :</span> 2</p>
				</div>
			</div>
		</div>
		<div id="element">
			<div id="name">
				<h2>delete</h2>
			</div>
			<div class="display-flex" id="container">
				<button><i class="fas fa-trash-alt"></i> Delete your account</button>
			</div>
		</div>
	</div>
</div>