<div id="content-account">
    <div id="title">
        <h1>Account Management</h1>
    </div>
    <div id="corp">
        <div id="element">
        </div>
        <div id="element">
        </div>
        <div id="element">
        </div>
    </div>
</div>