<div id="content-guilds">
	<div id="action">
		<div id="center">
			<div id="left">
				 <% if User.find(current_user.id).id_guild == -1 %>
					<button id="create_guild" onClick="window.location='/#guilds_new'">Create your guild</button>
				<% else %>
					<button id="quit_guild">Quit your guild</button>
				<% end %>
			</div>
			<div id="right">
				<input type="text" maxlenght="30" placeholder="Search a guild...">
			</div>
		</div>
	</div>
</div>