<div id="content-guilds-new">
	<div id="form">
		<div class="element">
			<div class="center">
				<input id="guildName" placeholder="Enter your guild name...">
			</div>
		</div>
		<div class="element">
			<div class="center">
				<textarea  id="guildStory" rows="5" cols="50" maxlength="250" placeholder="Tell us your guild story...(250characters max)"></textarea>
			</div>
		</div>
		<div class="element">
			<div class="center">
				<label> Max members : </label>
				<select id="maxMember">
					<option value="5">5</option>
					<option value="10">10</option>
					<option value="15">15</option>
				</select>
			</div>
		</div>
		<div class="element">
			<div class="center">
				<button class="create">Create</button>
			</div>
		</div>
	</div>
	<div class="element" id="response">
		<div class="center">
			<h1>Creation Succeed</h1>
		</div>
	</div>
</div>