<div id="content-users">
<div id="content-user">
<div id="content-home">
<div id="content-tchat">
<div id="content-play">
<div id="content-ladder">
<div id="content-guilds">
<div id="content-guild">
<div id="content-new_guild">
<div id="content-tournaments">
<div id="content-new_tournament">
<div id="content-tournament">
<div id="content-wars">
<div id="content-new_war">
<div id="content-war">
<div id="content-error">
<div id="content-history">
<div id="content-game">
<div id="content-game_show">
<%= form_for :otp_login, remote: true do |f| %>
<%= f.text_field :otp, placeholder: "Enter OTP!"%>
<% end %>
<button id="send_otp" class="green_button">Log in!</button>
<%= javascript_pack_tag 'otp_login' %>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>