<%= stylesheet_link_tag "pong_v1.css" %>
<div id="game">
    <div class="goal"></div>
    <div id="user" class="player"></div>
    <div id="ball"></div>
    <div class="goal" style='left: calc(var(--game_width) - var(--player_width)'></div>
    <div id="opponent" class="player"></div>
</div>
<div>
    <center><h2 id="score">0 - 0</h2></center>
</div>
<button id="pause">PAUSE</button>
<div>
    <p>TESTING : </p>
    <p><div id="demo"></div></p>
</div>

<%= javascript_pack_tag 'pong_v1' %>